@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --app-strong-blue: #2591d7;
  --app-strong-blue-hover: #1a6ca2;
  --app-dark-blue: #1d2030;
  --app-blue-soft: #282c42;
  --app-white: #ffffff;

  --default-background: var(--app-dark-blue);
  --default-color: var(--app-white);

  --default-font: 'Inter', sans-serif;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--default-background);
  color: var(--default-color);
  font-family: var(--default-font);
}
